.relative {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.margin {
    padding: 0;
    margin: 0;
}

.width {
    width: auto;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.padding {
    padding: 42px 0 43px;
    background-color: #fff;
    margin: 0;
}

.widthMargin {
    width: 700px;
    margin: 0 auto;
}

.wordWrap {
    word-wrap: break-word;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.question {
    vertical-align: top;
    display: table-cell;
    padding-right: 16px;
    margin: 0;
    padding: 0;
}

.icon {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-top: 44px;
    font-size: 44px;
    line-height: 44px;
    vertical-align: top;
    padding-left: 1px;
    color: #00c73c;
    font-style: normal;
}

.headingTitle {
    padding-top: 40px !important;
    padding-left: 25px !important;
    vertical-align: middle;
    display: table-cell;
    color: #222;
    padding: 0;
}

.headingContent {
    max-height: 72px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.title {
    display: inline;
    font-size: 24px;
    line-height: 36px;
    white-space: normal;
    margin: 0;
    padding: 0;
}

.headingText {
    font-size: 16px;
    line-height: 28px;
    margin-top: 7px;
    margin: 0;
    padding: 0;
    padding-left: 75px;
    padding-top: 20px;
}

.marginTop {
    margin-top: 50px;
    position: relative;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.floatLeft {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.inline {
    position: relative;
    display: inline-block;
    line-height: 23px;
    margin: 0;
    padding: 0;
}

.thumb {
    padding-right: 20px;
}

.display {
    display: inline-block;
    margin-left: 4px;
    font-size: 13px;
    line-height: 23px;
    padding-left: 23px;
    padding-top: 30px;
    padding-right: 400px;
    cursor: pointer;
}

.delBtn {
    background-color: #00c73c;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.text {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.boxPad {
    padding: 10px;
    background-color: #cacccc;
    border-radius: 20px;
    width: 200px;
    border: none;
    color: #fff;
}

.boxSize {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #00c73c;
    margin-bottom: 30px;
    cursor: pointer;
}

.commentBox {
    position: relative;
    padding-top: 15px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.secondBox {
    margin-bottom: 15px;
    padding: 0 15px;
    margin: 0;
}

.author {
    padding: 7px 13px 12px;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 rgba(73,76,82,0.1);
    border: 1px solid rgba(0,0,0,0.05);
    background-color: #fff;
    margin: 0;
}

.authorName {
    position: relative;
    padding-right: 76px;
    table-layout: fixed;
    box-sizing: border-box;
}

.realAuthor {
    font-size: 20px;
    color: gray;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.realContent {
    font-size: 13px;
    color: rgb(138, 145, 145);
    padding-left: 10px;
    padding-bottom: 10px;
}