.greenBox {
    position: absolute;
    height: 50px;
    padding: 0 18px;
    line-height: 50px;
    border: 1px solid #00bd39;
    background-color: #00c73c;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 60px;

    border-radius: 10px;
}

.green {
    background-color: #00c73c;
    color: #fff;
    border: #00bd39;
    font-size: 15px;
    cursor: pointer;
}

.wantPad {
    padding-right: 7px;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
}

.padding {
    padding: 20px 28px;
}

.contentBox {
    margin-top: 150px;
    position: relative;
}

.inContent {
    border-top: 1px solid #cacccc;
    position: relative;
    padding: 19px 0 22px;
    border-bottom: 1px solid #ededed;
}

.overFlow {
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #000;
    margin: 0;
    padding: 0;
}

.tagName {
    color: #8c8c8c;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.titleContent {
    margin-top: 0;
    vertical-align: top;
    color: #8c8c8c;
    cursor: pointer;
}

.like {
    overflow: hidden;
    max-height: 56px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #8c8c8c;
    margin: 0;
    padding: 0;
    cursor: pointer;
}